* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}
.main {
    width: 40%;
    margin: auto; 
    border: 1px solid grey;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

@media (max-width: 676px) {
    .main{
        width: 100%;
    }
}

.main-section {
    padding: 2rem 2rem 0rem 2rem;
}
.greetings-header {
    display:flex;
}
.greetings {
    margin-left: 2rem;
}

.schedule {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.reconfigure {
    border:1px solid #FF9D00;
    background-color: #F9F5E1;
    color: #FF9D00;
    padding: .5rem;
    border-radius: .7rem;
    font-size: .8rem;
}

.inactive {
    display: flex;
    background-color:  #e0f9ec;
    border-radius: .6rem;
    margin-top: 2rem;
}

.inactive-content {
    width: 70%;
    padding: 1rem;
}

.inactive-cost {
    width: 30%;
    padding-top: .5rem;
    text-align: center;
    color: white;
    background-color: #00C267;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;

}

.view-meals {
    display: flex;
    background-color:  #F9F5E1;
    border-radius: .6rem;
    margin-top: 1.5rem;
}

.week-meal {
    width: 70%;
    padding: 1rem;
}

.check-meal {
    width: 30%;
    /* height:100%; */
    padding: 1.5rem;
    text-align: center;
    color: white;
    background-color: #FF9D00;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;

}

.get-started {
    margin-top: 1.5rem;
    background-color: #CFECFF;
    border-radius: .7rem;
}
.get-started-content {
   padding: 2rem;
}

.get-started-menu {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2rem;
}

.menu-1 {
    width: 30%;
}
.menu-1 p{
    line-height: 1.5rem;
    margin-top: .6rem;
}
.menu-2 {
    width: 30%;
}

.menu-2 p{
    line-height: 1.5rem;
    margin-top: .6rem;
}

.phone-img {
    padding: .8rem;
    background-color: #c7bafc;
    border-radius: 2rem;
}

.play-img {
    padding: .9rem;
    background-color:#FFB48F;
    border-radius: 2rem;
}

.do-it {
    margin-top: 1rem;
}
.do-it a{
    padding-bottom: .1rem;
    color: #8A5CFF;
}

.do-it img {
    margin-left: .7rem;
}

.play {
    margin-top: 1rem;
}

.play a{
    padding-bottom: .5rem;
    color: #FF9D00;
}

.play img{
    margin-left: .7rem;
}
.tomorrow {margin-top: 2rem;}
.tomorrow h2{
    color: #00C267;
}

.time {
    display: flex;
    margin-top: 1rem;
}
.timer{
    width: 30%;
}
.content {
background-color: #CFECFF;
padding: .5rem;
border-radius: .6rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    background-color: rgba(244,244,244,0.75);
}

.nav img{
    display: flex;
    align-items: center;
}

.meal-main {
    width: 40%;
    margin: auto; 
    border: 1px solid grey;
}
.meal-header{
    display: flex;
}
.animate    {
    animation-name: example;
    animation-duration: .3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards
}

.animate-show    {
    animation-name: close;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes example {
    from {height: 0vh;}
    to {height:90vh}
  }

  @keyframes close {
    from {height: 90vh}
    to {height:0vh}
  }



.show-meal {
    height: 80vh;
    width: 100%;
    right: 0;
    display: none;
    border: 1px solid grey;
    position: absolute;
    background-color: wheat;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.today-meal {
    padding: 2rem;
}
  .view-meal-header {
    background-color: #F9F5E1;
    display: flex;
    border-top-left-radius: 1rem;
    justify-content: space-between;
    
  }

  .close-btn {
      background-color: #FFBE56;
      width: 30%;
    border-top-right-radius: 1rem;

  }

  .food1 {
      display: flex;
      width: 80%;
      margin: auto;
      margin-top: 2rem;
  }
.modal {
    width: 100%;
    /* height : 100vh; */
    margin: 0px auto;
    z-index: 100;
    display: none;
    position: absolute;
    background-color: #000;
    top:0;
    bottom: 0;
    right: 0px;
}
/* .modal-img {
    height: 100px;
    transition: height 2s;
} */
  .food1 div{
      margin-left: 2rem;
  }

  /* .food2 {} */